<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Not too bad, overall. Im worried about English and chemistry, though. How is yours going on?</h1>
        <a href="{% url 'something:rohit' %}"><h1>response from him</h1></a>
        <h1>Organic chemistry has been a problem for me too. Can we study chemistry together, at least the organic part?</h1>
        <a href="{% url 'something:rohit' %}"><h1>response from him</h1></a>
        <h1>Yes, I can. Where exactly in English youre facing problem?</h1>
        <a href="{% url 'something:rohit' %}"><h1>response from him</h1></a>
        <h1>As far as prepositions are concerned, I can help you in understanding the rules. But for reading comprehension, you need to put in lots of practice to get better at it.</h1>
        <a href="{% url 'something:rohit' %}"><h1>response from him</h1></a>
        <h1>Other subjects are more or less on track. Economics, however, seems to have an inexhaustible syllabus and I dont think Ill have enough time to revise the subject.</h1>
        <a href="{% url 'something:rohit' %}"><h1>response from him</h1></a>
        <h1>Thats right. OK, enough of talk. Lets get back to study. All the best for your next exam.</h1>
    </center>
    
</body>
</html>