<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>How is your preparation for the exam going on?</h1>
        <a href="{% url 'nothing:mahesh' %}"><h1>response</h1></a>
        <h1>Mine is alright. Im also finding chemistry to be bit challenging because of its vast syllabus and too much memorization in organic chemistry.</h1>
        <a href="{% url 'nothing:mahesh' %}"><h1>response</h1></a>
        <h1>Sure. I think its a good idea. Can you help me with English though?</h1>
        <a href="{% url 'nothing:mahesh' %}"><h1>response</h1></a>
        <h1>Thanks. Prepositions and reading comprehension are the main problem areas for me.</h1>
        <a href="{% url 'nothing:mahesh' %}"><h1>response</h1></a>
        <h1>OK. Will do. Hows your preparation going on for other subjects?</h1>
        <a href="{% url 'nothing:mahesh' %}"><h1>response</h1></a>
        <h1>Thankfully, I dont have Economics. But, yes, Im also struggling to get enough time for revision. Anyway, weve to manage in whatever time we have.</h1>
        <a href="{% url 'nothing:mahesh' %}"><h1>response</h1></a>
        <h1>Thanks. All the best to you as well.</h1>
    </center>
</body>
</html>